 $font-family-sans-serif: 'Myriad Pro'; 
 $font-family-base: $font-family-sans-serif;

//Enabling shadows and gradients
$enable-shadows: false;
$enable-gradients: false;
 
//Changing the body background and text 
$body-bg: #ffffff;
$body-color: #ffffff;

//Changing the border radius of buttons
$border-radius: 0px;

//Changing the theme colors
$primary: #adfe20;
$secondary: #436296;
$success: #2bc550;
$info: #495dff;
$warning: #ef8143;
$danger: #ff293a;
$light: #dfe6ee;
$dark: #0f1319;

//text color
$link-color : #ffffff;


//Adding (!) an additional theme color (ex. classes btn-cool, bg-cool)
$theme-colors: (
 "cool": #4d3fa3
);
