.header-nav {   
    border-bottom: 1px solid #85898c; 
      li { 
        a {
            letter-spacing: 0.1px;  
            &:hover{
                border-bottom: 2px solid #adfe20; 
            }          
        }
    } 
}