.slider-home{
    
    & .home-slider-img{
        background-image: url('../image/slider/slider-1.png');
        height:calc(100vh - 90px);
        @include media-breakpoint-down(md) { 
            height:25vh;
        }
        background-size:cover;
    }
    & .carousel-inner {
        // height: 100vh;
        // @include media-breakpoint-down(md) { 
        //     height: auto;
        // }
    }
    & .carousel-caption{
        top : 0px;
        left: 10%;
        & .caption-slider{            
            width: 570px;
            @include media-breakpoint-down(md) { 
                width: 300px;
            }
            background: rgba($color: #000000, $alpha: 0.7);
            p{
                &.h3{
                    @include media-breakpoint-down(md) { 
                        font-size: 16px;
                    }                    
                }
            }
        }
    }    
}

//style="background-image: url('../image/slider/slider-1.png');height:100vh;background-size:cover"