.slider-home{ 
    & .carousel-inner {
        height: 100vh;
    }
    & .carousel-caption{
        top : 0px;
        left: 11%;
        & .caption-slider{
            width: 570px;
            background: rgba($color: #000000, $alpha: 0.7);
        }
    }    
}