 
.text-light-green{
    color: #adfe20
}
.text-white{
    color: #ffffff !important;
}
.bg-opacity {
    opacity: 0.6;
    @include media-breakpoint-down(md) { 
        opacity: 1
    }
}
::-webkit-scrollbar { 
    display: none;     
    background: transparent;  /* optional: just make scrollbar invisible */
}
// @-moz-document url-prefix() {
//     html,body{overflow: hidden !important;}
// }